/* applem-no borders */
@media (prefers-color-scheme: dark), @media (prefers-color-scheme: light)  {
    :root{
    --labelDivider: none !important;
    --playerDropShadow2: none !important;
    --playerInnerShadow: none !important;
  }
  }
  
  /* applem-transparency */
  body, .navigation, amp-chrome-player::before{
    background-color: transparent !important;
  }
  