body::before {
	content: "" !important;
	background: url("https://github.com/senshastic/fallsha-zen-customizations/blob/main/assets/brushed-alum-dark.png?raw=true") repeat !important;
	background-attachment: fixed;
	background-repeat: repeat;
	position: fixed;
	top: 0 !important;
	left: 0 !important;
	width: 100% !important;
	height: 100% !important;
	pointer-events: none !important;
	z-index: -1 !important;
	opacity: 0.45 !important;

}
