body::before {
	content: "" !important;
	background: url("https://github.com/senshastic/fallsha-zen-customizations/blob/main/assets/brushed-alum-dark.png?raw=true") repeat !important;
	background-attachment: fixed;
	background-repeat: repeat;
	position: fixed;
	top: 0 !important;
	left: 0 !important;
	width: 100% !important;
	height: 100% !important;
	pointer-events: none !important;
	z-index: -1 !important;
	opacity: 0.45 !important;

}

.bg-accent-pro-100, .bg-text-200 {
    @deep();
    background-image: url("https://raw.githubusercontent.com/senshastic/sneshGPT/main/assets/senshasip_big.png") !important;
    background-size: contain !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-color: transparent !important;
    color: transparent !important;
    font-size: 0 !important;
    min-width: 24px !important;
    min-height: 24px !important;
    display: block !important;
  }