/* ==UserStyle==
@name           Slightly better Youtube
@namespace      github.com/openstyles/stylus
@version        1.0.8
@description    A new userstyle
@author         Snesh
@updateURL      https://github.com/senshastic/CSS-Jankyard/raw/refs/heads/main/Youtube/slightly_better_yt_snesh.user.css
@preprocessor	less

==/UserStyle== */

@-moz-document domain("youtube.com") {
    /*SECTION [SNESHLIB - Start] */
    /*ANCHOR [VARIABLES]*/
    @hap				         : url('https://github.com/senshastic/sneshGPT/blob/main/assets/Hap.png?raw=true');
    @borderRadius		  : 12px;
    @creamColor			   : #d0b575;
    @creamColorMuted	: #4f4733;

    /*ANCHOR [DETACHED RULESETS] */
    @gradientBackground: {
        background: linear-gradient(109.6deg, @gradcolor1 0%, @gradcolor2 25%, @gradcolor3 50%, @gradcolor4 100%);
    }

    @gradientAnimation: {
        0% {
            background-position: 0% 0%;
        }

        50% {
            background-position: 100% 100%;
        }

        100% {
            background-position: 0% 0%;
        }
    }

    @buttons: {
        background-color       : rgba(5, 5, 5, .18) !important;
        border-radius          : 12px !important;
        box-shadow             : 0 8px 15px rgba(0, 0, 0, 0.37);
        backdrop-filter        : blur(100px) saturate(110%);
        -webkit-backdrop-filter: blur(100px);
        transition             : background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    }

    @buttonsHover: {
        background-color       : rgba(5, 5, 5, 0) !important;
        border-radius          : 12px;
        box-shadow             : 0 8px 15px rgba(0, 0, 0, 0.37);
        backdrop-filter        : blur(100px) saturate(110%);
        -webkit-backdrop-filter: blur(100px);
        transition             : background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
        transform              : translateY(-4px);
    }

    @transparentButtons: {
        border-radius          : 12px !important;
        box-shadow             : 0 8px 15px rgba(0, 0, 0, 0.37);
        backdrop-filter        : blur(100px) saturate(110%);
        -webkit-backdrop-filter: blur(100px);
        transition             : background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    }

    @buttonsFlat: {
        border-radius          : 12px !important;
        backdrop-filter        : blur(100px) saturate(110%);
        -webkit-backdrop-filter: blur(100px);
        transition             : background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    }

    @transparentButtonsHover: {
        border-radius          : 12px;
        box-shadow             : 0 8px 15px rgba(0, 0, 0, 0.37);
        -webkit-backdrop-filter: blur(100px);
        backdrop-filter        : blur(100px) saturate(110%);
        transition             : background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
        transform              : translateY(-4px);
    }

    @buttonsHoverWhite: {
        background-color       : rgba(5, 5, 5, 0) !important;
        border-radius          : 12px;
        box-shadow             : 0 8px 15px rgba(255, 255, 255, .37) !important;
        backdrop-filter        : blur(100px) saturate(110%);
        -webkit-backdrop-filter: blur(100px);
        transform              : translateY(-4px);
        transition             : background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out, transform box-shadow 0.3s ease-in-out;
    }

    @menuItemHover: {
        border          : 1px solid rgba(0, 204, 255, 0.6);
        background-color: rgba(5, 5, 5, 0.35) !important;
        box-shadow      : 0 0 10px 2px rgba(0, 204, 255, 0.3);
        transform       : translateY(-2px);
        transition      : box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
        border-radius   : 12px;
    }

    @grainyTexture: {
        content       : "" !important;
        position      : absolute !important;
        top           : 0 !important;
        left          : 0 !important;
        width         : 100% !important;
        height        : 100% !important;
        pointer-events: none !important;
        z-index       : 0 !important;
        background    : url("https://raw.githubusercontent.com/senshastic/sensha-betterer-todoist/refs/heads/main/assets/noise.svg") repeat !important;
        opacity       : 0.23 !important;
    }

    @backdrop: {
        background-color       : rgba(5, 5, 5, .18) !important;
        border-radius          : 12px;
        box-shadow             : 0 4px 8px rgba(0, 0, 0, 0.1);
        backdrop-filter        : blur(100px) saturate(110%);
        -webkit-backdrop-filter: blur(100px);
        transition             : background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
        padding                : 5px;
    }

    @backdropSimpler: {
        background-color       : rgba(5, 5, 5, .18) !important;
        box-shadow             : 0 4px 8px rgba(0, 0, 0, 0.1);
        backdrop-filter        : blur(100px) saturate(110%);
        -webkit-backdrop-filter: blur(100px);
        transition             : background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    }

    @disappear: {
        background: transparent !important;
        border    : 0px;
        box-shadow: none;
    }

    @transparent: {
        background: transparent;
    }

    @noise: {
        content              : "" !important;
        background           : url("https://raw.githubusercontent.com/senshastic/sensha-betterer-todoist/refs/heads/main/assets/noise.svg") repeat !important;
        background-attachment: fixed;
        background-repeat    : no-repeat;
        background-size      : cover;
        position             : fixed;
        top                  : 0 !important;
        left                 : 0 !important;
        width                : 100% !important;
        height               : 100% !important;
        pointer-events       : none !important;
        z-index              : -1 !important;
        opacity              : 0.23 !important;
    }

    @boxShadowHover: {
        box-shadow      : 0 0px 10px rgba(0, 204, 255, 0.6);
        background-color: rgba(0, 81, 255, 0.1);
    }

    @textArea: {
        border          : 1.5px solid @creamColor  !important;
        background-color: transparent !important;
    }

    /* ANCHOR [ANIMATIONS] */
    @hoverChannelSlide: {
        margin-left     : 10px !important;
        transition      : margin-left 0.2s ease;
        background-color: transparent;
    }

    /* Snake */
    @snakeTarget: {
        position     : relative;
        padding      : 16px;
        border-radius: 18px;
        background   : rgba(0, 0, 0, 0.7);
        z-index      : 1;
        overflow     : hidden;
    }

    @snakeBefore: {
        content               : '';
        position              : absolute;
        top                   : 0;
        left                  : 0;
        right                 : 0;
        bottom                : 0;
        border-radius         : inherit;
        padding               : 3px;
        background            : linear-gradient(90deg, transparent 0%, transparent 40%, white 50%, transparent 60%, transparent 100%);
        background-size       : 200% 200%;
        animation             : smoothSnakeLine 6s linear infinite;
        -webkit-mask          : linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
        mask                  : linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor;
        mask-composite        : exclude;
        z-index               : -1;
    }

    @keyframes smoothSnakeLine {
        0% {
            background-position: 0% 50%;
        }

        100% {
            background-position: 200% 50%;
        }
    }
    
      @deep:{
    background-color: rgba(5, 5, 5, .18) !important;
backdrop-filter: blur(150px) !important; 
box-shadow: inset 0px 2px 0px 0px #00000020, inset 0px 2px 8px 0px #00000040 !important;
  }
  
  @elevated:{
          box-shadow: 0px 2px 0px 0px #FFFFFF0f, 
              0px 2px 8px 0px #00000040,
              inset 0px 8px 8px 0px #FFFFFF07 !important;
  outline: 1px solid #ffffff10 !important;
  outline-offset: -1px !important;
  background-color: transparent !important;
  }

    /*!SECTION [SNESHLIB - End]*/

    /* ANCHOR [backdrops] */

    :root {
        --yt-spec-menu-background  : transparent !important;
        --yt-spec-raised-background: transparent !important;
    }

    tp-yt-iron-dropdown[class="style-scope ytd-popup-container"],
    .gstl_50.sbdd_a,
    div[id="tooltip"],
    div[id="description"],
    button[id="search-icon-legacy"],
    div[id="body"],
    ytd-compact-video-renderer {
        @backdrop();
    }

    .ytSearchboxComponentSuggestionsContainer {
            @deep();
  background: 
    linear-gradient(120deg,
      rgba(50, 45, 55, 0.82) 0%,
      rgba(60, 55, 65, 0.82) 25%,
      rgba(70, 62, 72, 0.82) 50%,
      rgba(80, 70, 80, 0.82) 75%),
    linear-gradient(60deg,
      rgba(85, 65, 75, 0.1) 0%,
      rgba(75, 65, 80, 0.1) 50%,
      rgba(65, 60, 75, 0.1) 100%),
    radial-gradient(circle at 25% 25%, 
      rgba(110, 100, 115, 0.08) 0%, 
      rgba(80, 70, 85, 0.08) 50%, 
      rgba(60, 50, 65, 0.08) 100%),
    repeating-linear-gradient(45deg, 
      rgba(70, 60, 70, 0.02) 0px, 
      rgba(70, 60, 70, 0.02) 1px, 
      transparent 1px, 
      transparent 8px),
    repeating-linear-gradient(135deg, 
      rgba(70, 60, 70, 0.02) 0px, 
      rgba(70, 60, 70, 0.02) 1px, 
      transparent 1px, 
      transparent 8px),
    repeating-radial-gradient(circle at 50% 50%,
      rgba(80, 70, 80, 0.01) 0px,
      rgba(80, 70, 80, 0.01) 1px,
      transparent 1px,
      transparent 10px) !important;
  background-attachment: fixed, fixed, fixed, fixed, fixed, fixed !important;
  background-size: cover, cover, cover, 10px 10px, 10px 10px, 20px 20px !important;
        border-radius: 0 0 12px 12px !important;
        margin-top   : -3px;
    }
    
    div.ytSuggestionComponentSuggestion:hover{
        @deep();
    }

    #chips-wrapper.ytd-feed-filter-chip-bar-renderer {
        background-color: rgba(5, 5, 5, .18) !important;

        box-shadow             : 0 4px 8px rgba(0, 0, 0, 0.1);
        backdrop-filter        : blur(100px) saturate(110%);
        -webkit-backdrop-filter: blur(100px);
        transition             : background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
        padding                : 5px;

    }

    /* ANCHOR [SIDEBAR STYLING] */

    #guide-content.ytd-app,
    #background.ytd-masthead {
        opacity                : 1;
        background-color       : rgba(255, 255, 255, 0.1);
        backdrop-filter        : blur(25px) saturate(200%) contrast(90%);
        -webkit-backdrop-filter: blur(25px) saturate(200%) contrast(90%);
        color                  : white;
        overflow-y             : auto;
        border                 : 1px solid rgba(255, 255, 255, 0.2);
        box-shadow             : 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    #contentContainer.tp-yt-app-drawer,
    ytd-mini-guide-entry-renderer,
    ytd-mini-guide-renderer {
        @disappear();
    }

    yt-icon-button:hover {
        @buttonsHover();
    }

    ytd-guide-entry-renderer:hover,
    .sbsb_c.gsfs:hover {
        @hoverChannelSlide();
    }

    #container.ytd-searchbox {
        background: none !important;
    }

    ytd-searchbox[has-focus] #container.ytd-searchbox {
        border: 1px solid var(--ytd-searchbox-legacy-border-color);
    }

    div[id="body"]:hover {
        @deep();
    }

    #dialog {
        @backdrop();
    }
    
    .ytSearchboxComponentInputBox.ytSearchboxComponentInputBoxDark{
        background: transparent !important;
    }
    
    #guide-content{
        margin-top: 1.4px !important;
    }


ytd-masthead[is-watch-page][dark]:not([theater]):not([fullscreen]) #background.ytd-masthead{
    opacity: 1 !important;
}

yt-lockup-view-model.ytd-item-section-renderer{
padding: 10px;
}

yt-lockup-view-model.ytd-item-section-renderer:hover {
   
    border-radius: 12px;
    @elevated();
}

ytd-rich-item-renderer:hover {
transform: scale(1.05);
border-radius: 12px;

}

body::before {
	content: "" !important;
	background: url("https://github.com/senshastic/fallsha-zen-customizations/blob/main/assets/brushed-alum-dark.png?raw=true") repeat !important;
	background-attachment: fixed;
	background-repeat: repeat;
	position: fixed;
	top: 0 !important;
	left: 0 !important;
	width: 100% !important;
	height: 100% !important;
	pointer-events: none !important;
	z-index: -1 !important;
	opacity: 0.45 !important;

}

/* buttons */ 

#chip-container{
    @elevated();
}


#chip-container:hover, #endpoint:hover{
    @deep();
}

}